@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Londrina Solid", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
}

body {
	background-color: #1C3144;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1 {
	font-weight: 900;
	font-size: 30px;
	margin: 20px 0;
}

h2 {
	font-weight: 600;
	font-size: 20px;
	margin: 0 0 20px 0;
}

main {
	width: 80vw;
	margin: auto;
	padding-bottom: 50px;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

li {
	margin-left: 30px;
}

.div-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.card {
	background-color: #FFBA08;
	padding: 30px;
	border-radius: 20px;
}

.card p, .card h2 {
	color: #1C3144;
}

.logo {
	width: 100%;
	padding-top: 30px;
}

.icon {
	width: 30px;
	height: auto;
}